nav class="sidebar">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="./images/loginAvt.png" alt="" />
      </span>

      <div class="text logo-text">
        <span class="name">Mood Tracker!</span>
        <span class="prof">How is your mood today?</span>
      </div>
    </div>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="navlink">
          <a class="dashboard" href="#dashboard" onclick="menu(event, 'dashboard')">
            <i class="bx bxs-dashboard bx-tada icon"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>

        <li class="navlink">
          <a href="#about" onclick="menu(event, 'about')">
            <i class="bx bx-help-circle bx-burst icon"></i>
            <span class="text nav-text">About</span>
          </a>
        </li>

        <li class="navlink">
          <a href="#contact" onclick="menu(event, 'contact')">
            <i class="bx bx-book-content icon"></i>
            <span class="text nav-text">Contact</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a href="/login">
          <i class="bx bx-log-out bx-fade-right-hover icon"></i>
          <span class="logout text nav-text">Logout</span>
        </a>
      </li>

      <li class="mode">
        <div class="sun-moon toggle">
          <i class="bx bx-moon icon moon"></i>
          <i class="bx bx-sun icon sun"></i>
        </div>
        <span class="mode-text text">Dark mode</span>

        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>

<!-- right sections -->
<section class="tabcontent home" id="home">
  <div class="text">Home</div>
</section>

<section class="tabcontent dashboard" id="dashboard">
  <div class="text">Dashboard</div>
  <textarea id="input-diary" class="textarea-normal" autofocus placeholder="Sooo, what happened?"></textarea>

  <div class="container-mood-selector">
    <ul id="moods">
      <li id="mood-happy"><img
          src="https://emojipedia-us.s3.amazonaws.com/thumbs/72/apple/129/slightly-smiling-face_1f642.png" width="60"
          title="happy"></li>
      <li id="mood-neutral"><img
          src="https://emojipedia-us.s3.amazonaws.com/thumbs/72/apple/129/expressionless-face_1f611.png" width="60"
          title="neutral"></li>
      <li id="mood-sad"><img
          src="https://emojipedia-us.s3.amazonaws.com/thumbs/72/apple/129/white-frowning-face_2639.png" width="60"
          title="sad"></li>
      <li id="mood-unsure"><img
          src="https://emojipedia-us.s3.amazonaws.com/thumbs/72/apple/129/face-without-mouth_1f636.png" width="60"
          title="unsure"></li>
    </ul>
  </div>

  <div class="container-meter">
    <div id="mood-meter">
      <div id="meter-happy" class="mood-meter-perc"></div>
      <div id="meter-neutral" class="mood-meter-perc"></div>
      <div id="meter-sad" class="mood-meter-perc"></div>
      <div id="meter-unsure" class="mood-meter-perc"></div>
    </div>
  </div>

  <ul id="mood-sorter">
    <li id="sort-all" class="sort-selected">All</li>
    <li id="sort-happy">Happy</li>
    <li id="sort-neutral">Neutral</li>
    <li id="sort-sad">Sad</li>
    <li id="sort-unsure">Unsure</li>
  </ul>

   {{#if posts.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <p id="empty-entries" class="text-center">You haven't logged any entry yet.<br>Think about what happened today!</p>
</section>

<section class="tabcontent about" id="about">
  <div class="text">About</div>
</section>
<section class="tabcontent about" id="contact">
  <div class="text">Contact</div>
</section>

<script src="./js/logout.js"></script>

<script>
  const body = document.querySelector("body"),
    sidebar = body.querySelector("nav"),
    toggle = body.querySelector(".toggle"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");

  modeSwitch.addEventListener("click", () => {
    body.classList.toggle("dark");

    if (body.classList.contains("dark")) {
      modeText.innerText = "Light mode";
    } else {
      modeText.innerText = "Dark mode";
    }
  });

  function menu(evt, menuName) {
    // Declare all variables
    var i, tabcontent, navlink;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(menuName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

