<!-- Loop over each object in the projects array -->

<header class="main-page">
      <h1>Welcome to Mood Tracker<span>!</span></h1>
    </header>

    
     <button  class="enter" type="enter"><a href="/signup"><span>Enter</span></a></button>
  

