<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<header>
      <h1>Welcome to Mood Tracker<span>!</span></h1>
    </header>

    
     <button type="enter"><a href="/signup"><span>Enter</span></a></button>
  

{{/each}}
