<body>
  <div class="homepage-header">
    <h1>Welcome to the Mood Tracker<span>!</span></h1>
  </div>
  <div class="homepage-copy">
    <p>The digital journal that allows you to record and recognise your daily patterns!</p>
  </div>
  <button class="btn-login-hp" type="enter"><a href="/login"><span>Login</span></a></button>
  
  <button class="btn-signup-hp" type="enter"><a href="/signup"><span>Signup</span></a></button>
</body>