{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div> --}}
  <!-- login here -->
  <header>
      <h1>Welcome to Mood Tracker<span>!</span></h1>
    </header>
    <div class="login">
      <div class="avatar">
        <img src="./images/11.png" />
      </div>
      <h2>Login</h2>
      <h3>LogIn into Mood Tracker!</h3>
      <form class="login-form">
        <div class="textbox">
          <input type="email" id="email-login" placeholder="Email" required />
          <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="textbox">
          <input
            class="form-input"
            id="password-login"
            type="password"
            placeholder="Password"
            required
          />
          <span class="material-symbols-outlined">lock</span>
        </div>
        <button type="submit"><span>Login</span></button>
        <p>Not a member ? <a href="/signup">[Sign Up]</a></p>
      </form>
    </div>

<script src="./js/login.js"></script>

